{{#resume.basics}}
<header class="resume-header clearfix">
    <div class="name-and-pic-row">
        <div class="profile-header pull-left">
            <h1>{{name}}</h1>
            <h2>{{label}}</h2>
        </div>
        <div class="profile-pic">
            {{#if image}}
            <img src="{{image}}" alt="profile-pic">
            {{/if}}
            {{#if picture}}
            <img src="{{picture}}" alt="profile-pic">
            {{/if}}
        </div>
    </div>
</header>
{{/resume.basics}}